@import "/home/danielle/.config/_themes/nord.css";


* {
	font-family: "Fira Code", monospace;
	font-size: 14px;
	color: @fg;
}

window {
	background-color: @base;

	border-image: rgba(eceff4ee) rgba(88c0d0ee) 45deg;
	border-width: 2px;
	border-style: solid;
    border-radius: 10px;
}

#input {
	margin: 5px;
	border-radius: 0px;
	border: none;
	background-color: @base;
	color: @fg;
}

#inner-box {
	background-color: @base;
}


#outer-box {
	margin: 2px;
	padding: 10px;
	background-color: @base;
    border-radius: 10px;
}

#scroll {
	margin: 5px;
}

#text {
	padding: 4px;
	color: @fg;
}

#entry {
	padding: 10px;
}

#img {
	background-color: @base;
}

#img:selected {
	background-color: @frost_4;
}

#entry:selected {
	background-color: @frost_4;
	outline: 0;
	border-radius: 10px;
	
}

#text:selected {
	background: transparent;
}